/* $Id: */

/* Fixing Ugly IE6 rendering */

body.sidebars #sidebarheader {
  margin-bottom: -10px;
}

body.sidebar-left #center {
  margin-left: -10px;
}

body.sidebars #sidebar-left {
  padding-top: 7px;
}

body.sidebars #sidebar-right {
  padding-top: 7px;
}

body.sidebar-right #sidebarheader {
  display: none;
}

body.sidebar-right #blockbar {
  width: 340px;
}

body.sidebar-right #sidebar-right {
  padding-top: 7px;
}

body.sidebar-right #center {
  padding-right: 0px;
  width: 471px;
}

body.sidebar-mix #blockbar {
  width: 340px;
}

body.sidebar-mix #sidebar-right {
  padding-top: 7px;
}

body.sidebar-mix #sidebar-left {
  padding-top: 7px;
}

body.sidebar-mix #center {
  padding-right: 0px;
  width: 471px;
}

.breadcrumb {
  position: fixed;
}

#bottom-left, #bottom-right {
  background-image: none;
  display: none;
}

#bg-right {
  background-image: none;
  display: none;
  right: -6px;
}

#topNav {
  height: 55px;
}

#nav-content {
  position: absolute;
  left: 13px;
  right: -45px;
  top: -5px;
}

#nav-content ul li {
  margin-right: 7px;
}

#bg-top {
  background-image: none;
  background-color: #ffffff;
  margin-right: -20px;
  margin-left: -15px;
  border-top: 2px solid transparent;
}

#bg-bottom {
  background-image: none;
  display: none;
}

#page-border-left {
  background-image: none;
  background-color: #ffffff;
  margin-left: 6px;
  border-left: 2px solid transparent;
}

#page-border-right {
  background-image: none;
  background-color: #ffffff;
  border-right: 2px solid transparent;
}

.node div.content img {
  max-width: 470px;
  width: expression(this.width > 470 ? 470: true);
}

#header{
  padding-top: 37px;
}

#sisternav li, #sisternav a, span.corners-top, span.corners-top span, span.corners-bottom, span.corners-bottom span {
  background-image: none;
  margin-top: 2px;
}

span.corners-top, span.corners-top span, span.corners-bottom, span.corners-bottom span {
  background: none;
}

#iebanner {
  background-color: #ffffcc;
  text-align: center;
}

#bg-left, #bg-right {
  background-image: none;
  display: none;
  behavior: url(<?php global $base_path; print $base_path.path_to_theme(); ?>/iepatches/iepngfix.php?path=<?php global $base_path; print $base_path.path_to_theme(); ?>);
  top: -4px;
}

