/* $Id: style.css,v 1.1.2.25 2008/07/27 18:05:04 andregriffin Exp $ */

/* Drupal 6 Ubuntu Drupal 
----------------------------------------------------------------
[Table of contents]
 1. Global
 2. Header
 3. Navigation
 4. Nodes
 5. Comments
 6. Blocks
 7. Footer
 8. CSS Support
 9. Administration
10. UndoCSS
11. Page Header
----------------------------------------------------------------*/

/*
 * 1. GLOBAL
 */

body { 
  background-image: url(images/png/gradient.php?start=796646&end=D3CAAA);
  background-color: #d3caaa;
  background-repeat: repeat-x;
  padding: 0;
  margin: 0;
  font: 75% Arial, Helvetica, sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.8333em;
}

h2 {
  font-size: 1.4167em;
  color: #986601;
  font-variant: small-caps;
  border-bottom: 1px solid #cccccc;
}

.node h2 {
  margin: 0 0 0.5em;
}

.meta {
  margin-bottom: 1.5em;
}

h3 {
  font-size: 1.0833em;
}

h4 {
  font-size: 0.9167em;
}

a:link, a:visited {
  color: #986601;
  text-decoration: none;
}

a:focus {
  outline: 1px dotted;
}

a:hover, a:active, li a.active {
  color: #d40000;
  outline: none;
  text-decoration: none;
}

p {
  font-size: 1em;
  line-height: 1.5833em;
  margin: 0 0 1.5833em;
}

blockquote {
  margin: 1.25em;
  padding: 1.25em 1.25em 0 1.25em;
}

em {
  padding: 0 3px 0 0;
}

hr {
  background: #7f7f7f;
  border: none;
  height: 1px;
  margin: 0;
  padding: 0;
}

img, a img {
  border: none;
  outline: none;
}

/*
 * 2. HEADER
 */

.headerbar {
  background-image: url("images/png/drupalhead.png");
  background-repeat: no-repeat;
  background-color: #73360e;
  margin-top: 37px;
  margin-right: 2px;
  height: 122px;
  border-top: 1px solid #73360e;
  border-left: 1px solid #73360e;
  border-right: 1px solid #73360e;
}

.headerbar-mission {
  background-image: url("images/png/drupalhead-mission.png");
  background-repeat: no-repeat;
  background-color: #73360e;
  color: #300307;
  margin-top: 37px;
  margin-right: 2px;
  height: 122px;
  border-top: 1px solid #73360e;
  border-left: 1px solid #73360e;
  border-right: 1px solid #73360e;
}

#header div.block {
  background-color: #ebe3d3;
  border-bottom: 5px solid #73360e;
  border-left: 5px solid #73360e;
  border-right: 5px solid #73360e;
  margin-right: 2px;
}

.missiontext {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #a98166;
  height: 90px;
  margin-left: 10px;
  margin-top: 10px;
  opacity: 0.60;
  padding: 13px 13px 0;
  text-align: justify;
  top: 10px;
  width: 470px;
}

.missiontext a {
  color: #73360e;
  font-weight: bold;
}

#container {
  padding-top: 10px;
}

/*
 * 3. NAVIGATION
 */

#sisternav {
  position:absolute;
  top:88px;
  right:13px;
}

#sisternav ul {
  display:inline;
  padding:0 10px 0 1px;
  /* padding:0.6em 0.6em 0 1px;
*/
  list-style:none;
}
                  
#sisternav li {
  display:inline;
  float:left;
  background:url("images/png/corner_topleft.png") no-repeat left top;
  background-color: #73360e;
  padding:0 0 0 5px;
  margin-right: -1px;
  /* padding:0 0 0 0.3em; */
}

#sisternav .plain a {
  padding:5px 15px 3px 10px;
}

#sisternav .current a {
  padding:5px 15px 4px 10px;
}

#sisternav a {
  float:left;
  display:block;
  background:url("images/png/corner_topright.png") no-repeat right top;
  text-decoration:none;
  font-weight:bold;
  color:#ffffff;
}

ul.links li {
  background: none;
  margin: 0 10px 0 0;
  padding: 0;
}

/* negative margin keeps from pushing node h2 titles down */
.breadcrumb {
  color: #cccccc;
  font-size: 1em;
  margin-top: -9px;
  left: 26%;
  padding: 0;
  position: absolute;
}

.breadcrumb a:link, .breadcrumb a:visited {
  color: #666666;
}

.breadcrumb a:hover {
  color: #999999;
}

#tabs-wrapper li {
  border: 1px solid white;
  border-top: 1px solid white;
}

#tabs-wrapper li a {
  padding-left: 11px;
  background-color: white;
}

#tabs-wrapper li.active {
  border: 1px solid white;
  background-color: #fbf4e3;
}

#nav li ul {
  position: absolute;
  width: 10em;
  left: -999em;
}

#nav li:hover ul {
  left: auto;
}

#nav li:hover ul, #nav li.sfhover ul {
  left: auto;
}

/*
 * 4. NODES
 */

span.submitted {
  color: #898989;
  font-size: 0.8333em;
}

.meta {
  background: #fbf4e3;
}

#tabs-wrapper h2 {
  color: #986601;
  padding-top: 1px;
  border-bottom: 1px solid white;
  font-variant: small-caps;
}

#tabs-wrapper h2.with-tabs {
  border-bottom: 1px solid white;
  font-variant: small-caps;
}

.node h2 {
  border-bottom: 1px solid #d6d6d6;
  font-variant: small-caps;
}

#node-title {
  background-color: #ebe0ca;
  padding: 0 10px;
}

#node-title h2 {
  border-bottom: 1px solid white;
  padding-bottom: 8px;
}

span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {
  font-size: 1px;
  line-height: 1px;
  display: block;
  height: 5px;
  background-repeat: no-repeat;
  background-color: #ebe0ca; 
}

span.corners-top {
  background-image: url(images/png/corner_topleft.png);
  background-position: 0 0;
  margin: 0 -10px;
  padding-left: 5px;
}

span.corners-top span {
  background-image: url(images/png/corner_topright.png);
  background-position: 100% 0;
}

span.corners-bottom {
  background-image: url(images/png/corner_bottomleft.png);
  background-position: 0 100%;
  margin: 0 -10px;
  clear: both;
  padding-left: 5px;
}

span.corners-bottom span {
  background-image: url(images/png/corner_bottomright.png);
  background-position: 100% 100%;
}

.node div.content h2 {
  border-bottom: none;
}

.node div.content {
  padding-top: 5px;
}

.meta div.links {
  float: left;
}

.meta div.terms {
  float: right;
}

.meta div.links ul.links li {
  float: left;
  padding: 5px 10px 5px 0;
}

.meta div.terms ul.links li {
  float: left;
  padding: 5px 0 5px 10px;
}

.node div.content img {
  max-width: 475px;
  height: auto;
}

.node div.content ol {
  list-style-type: decimal;
}

.book-navigation {
  margin: 0 0 .5em;
}

.item-list ul.pager {
  margin: 1em 0;
}

.item-list ul.pager li {
  margin: 0;
  padding: 0;
}

.item-list ul.pager li a:link, .item-list ul.pager li a:visited, .item-list ul.pager li.pager-current {
  border: 1px solid #cccccc;
  color: #986601;
  margin: .3em .1em;
  padding: .3em .5em;
}

.item-list ul.pager li a:hover, .item-list ul.pager li a:active {
  background-color: #fbf4e3;
  color: d40000;
}

.item-list ul.pager li.pager-current {
  background-color: #e6e2c8;
  color: #986601;
}

/*
 * 5. COMMENTS
 */

.comment {
  margin: 20px 0 0;
  padding: 0;
}

.comment-bar {
  background: #fbf4e3;
  border-bottom: 1px solid #dbd2b0;
  padding: 5px;
}

.comment span.new {
  color: red;
  font-size: 0.8333em;
}

.comment h3 {
  margin: 0.5em 0;
}

.comment ul.links {
  margin: 0 0 0 25px;
}

.comment ul.links li a {
  text-decoration: underline;
}

.indented {
  border-left: 1px solid #dbd2b0;
  margin-left: 14px;
  padding-left: 10px;
}

/*
 * 6. BLOCKS
 */

#blockbar h2 {
  margin-top: -10px;
}

#blockbar {
  background-color: #ffffff;
}

#center {
  background-color: #ffffff;
}

.block {
  margin: 0 0 10px;
}

#user-login-form .item-list ul li {
  background: none;
  padding: 0;
}

#search-block-form .form-text {
  width: 8em;
}

#search-block-form input.form-submit {
  font-size: .9em;
  width: 5em;
  padding: 0;
}

.block-book ul.menu li.expanded {
  background-color: #ffffff;
}

.block-book ul.menu li.expanded ul {
  border-bottom: none;
  border-top: 1px solid #e6e2c8;
}

div.block-announcements div.content h3 {
  color: #986601;
  padding-top: 5px;
  border-bottom: 1px solid #d6d6d6;
  font-variant: small-caps;
}

div.block-announcements div.content div.announcement-abstract {
  text-align: justify;
}

/*
 * 7. FOOTER
 */

#footer {
  padding: 25px 0;
  position: relative;
  clear: both;
  margin-top: 550px;
  /* needed to prevent Gecko 1.8 rendering errors */
}

#footer a.feed-icon {
  position: absolute;
  left: 0;
  bottom: 13px;
}

#footer #block-system-0 {
  position: absolute;
  float: right;
  right: 15px;
  bottom: 6px;
}

#footer .wrapper {
  position: relative;
  bottom: 0px;
  left: 5px;
  color: #656565;
  font-size: 90%;
  float: left;
}

/*
 * 8. CSS SUPPORT
 */

span.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 1px;
  line-height: 0;
  margin-bottom: -1px;
}

.clear {
  clear: both;
}

.clear-block {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  border-bottom: 1px solid;
}

.highlight {
  background: #ffffcc;
}

.wrap {
  margin: 0 auto;
}

.img-left {
  float: left;
  margin: 4px 10px 4px 0;
}

.img-right {
  float: right;
  margin: 4px 0 4px 10px;
}

.nopadding {
  padding: 0;
}

.noindent {
  margin-left: 0;
  padding-left: 0;
}

.nobullet {
  list-style: none;
  list-style-image: none;
}

/*
 * 9. ADMINISTRATION
 */

/* lists */
dl {
  margin: .5em 0 1em;
  padding: 0;
}

dl dd {
  margin: 0 0 .5em 1.5em;
}

ol {
  margin: .5em 0 1em;
  padding: 0 0 0 1.5em;
}

ol li {
  margin: 0.15em 0 0.15em .5em;
  padding: 0 0 .2em;
}

ol ul li {
  margin-left: .5em;
  padding: 0 0 .2em 1.5em;
}

ul {
  margin: .5em 0 1em;
  padding: 0;
}

.item-list ul {
  margin: 0.35em 0 0 -0.5em;
  padding: 0;
}

.item-list ul ul {
  margin-left: 0;
}

ul li, ul li.leaf, .item-list ul li {
  background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em;
  list-style-image: none;
  list-style-type: none;
  margin: .15em 0 .15em .5em;
  padding: 0 0 .2em 1.5em;
}

ul li.expanded {
  background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em;
}

ul li.collapsed {
  background: transparent url(images/menu-collapsed.gif) no-repeat 0 .35em;
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}

ul.inline li {
  background: none;
  margin: 0; padding: 0 1em 0 0;
}

ul ol li {
  background: none;
  list-style-type: decimal;
  margin-left: 2em;
  padding: 0 0 0.2em;
}

ul ul li {
  margin-left: 2em;
}

/* admin tab links */
ul.primary, ul.primary li, ul.secondary, ul.secondary li {
  background: none;
  border: 0; margin: 0; padding: 0;
}

 ul.primary {
  float: left;
}

ul.secondary {
  border-bottom: 1px solid #dbd2b0;
  clear: both; margin: 0 0 1em; padding: .5em 0; text-align: left;
}

ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited, ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
  background: none;
  border: 0;
  margin: 0;
  padding: 0 1em 0 0;
  text-decoration: none;
}

ul.primary li.active a, ul.secondary li.active a {
  font-weight: 700;
}

/* position admin tab links and style admin h2 */
#tabs-wrapper {
  margin: 0;
  padding: 0;
}

h2.with-tabs {
  margin-bottom: 0;
  margin-top: 0.05em;
}

#tabs-wrapper ul.tabs {
  margin: 0 0 .5em;
  padding: 0;
}

/* sidebar menu */
ul.menu {
  margin: 0;
  padding: 0;
}

ul.menu li {
  background-position: .3em .6em;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: .1em 0 .1em 0;
}

ul.menu li a {
  padding: .1em 0 .1em 1.5em;
}

ul.menu li ul li {
  background-position: 1.5em .6em;
}

ul.menu li ul li a {
  padding-left: 2.7em;
}

ul.menu li ul li ul li {
  background-position: 2.7em .6em;
}

ul.menu li ul li ul li a {
  padding-left: 3.9em;
}

ul.menu li ul li ul li ul li {
  background-position: 3.9em .6em;
}

ul.menu li ul li ul li ul li a {
  padding-left: 5.1em;
}

ul.menu li.expanded {
  padding-bottom: 0;
}

ul.menu li.expanded ul {
  margin-top: .1em;
}

/* to remove zebra coloring from sidebar menus, remove this star and slash--> */
ul.menu li {
  border-bottom: 1px solid #e6e2c8;
  padding: .2em 0 .2em 0;
}

ul.menu li a {
  padding: .2em 0 .2em 1.5em;
}

ul.menu li.odd {
  background-color: #ffffff;
}

ul.menu li.even {
  background-color: #fbf4e3;
}

ul.menu li.expanded {
  background-color: #e6e2c8;
  border: none;
  padding-bottom: 0;
}

ul.menu li.expanded ul {
  border-bottom: 3px solid #e6e2c8;
  border-top: 1px solid #dbd2b0;
  margin-top: .2em;
}
/* end zebra coloring */

/* stuff you probably will not need to change - includes admin coloring */
quote, code, fieldset {
  margin: .5em 0;
}

input {
  color: #494949;
  font: 1em Verdana, sans-serif;
}

textarea, select {
  color: #494949;
  font: 1em Verdana, sans-serif;
}

fieldset ul.clear-block li {
  background-image: none;
  margin: 0; padding: 0;
}

fieldset {
  background: #ffffff;
  border: 1px solid #e6e2c8;
  margin: 1em 0;
  padding: 1em;
}

fieldset legend {
  display: block;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-bottom: .6em;
  padding-top: 0;
}

html.js fieldset.collapsible legend a {
  background: url(images/menu-expanded.gif) no-repeat 0 50%;
  padding-left: 2em;
}

html.js fieldset.collapsed legend a {
  background: url(images/menu-collapsed.gif) no-repeat 0 50%;
}

table {
  margin: 1em 0;
  width: 100%
}

thead th {
  border-bottom: 2px solid #e6e2c8;
  color: #494949;
  font-weight: 700;
}

tbody {
  border-top:none;
}

th a:link, th a:visited {
  color: #7f7f7f;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
  border: solid #e6e2c8;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #fbf4e3;
}

tr.even {
  background-color: #ffffff;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffffdd;
}

tr.odd td.active {
  background-color: #e6e2c8;
}

tr.even td.active {
  background-color: #fbf4e3;
}

td.region, td.module, td.container, td.category {
  background-color: #e6e2c8;
  border-bottom: 1px solid #dbd2b0;
  border-top: 1.5em solid #ffffff;
  color: #666;
  font-weight: 700;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category {
  border-top-width: 0;
}

tr.odd td.menu-disabled {
  background-color: #fbf4e3;
}

tr.even td.menu-disabled {
  background-color: #ffffff;
}

tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
  color: #e6e2c8;
}

tr.taxonomy-term-divider-top {
  border-bottom: none;
}

tr.taxonomy-term-divider-bottom {
  border-top: 1px dotted #ccc;
}

#autocomplete li {
  cursor: default;
  margin: 0;
  padding: 2px;
}

#autocomplete li.selected, tr.selected td, tr.selected td.active {
  background: #027ac6;
  color: #ffffff;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin: 0.25em 0;
}

#center form {
  margin-bottom: 2em;
}

.form-button, .form-submit {
  margin: 2em 0.5em 1em 0;
}

#dblog-form-overview .form-submit, .confirmation .form-submit, .search-form .form-submit, .poll .form-submit, fieldset .form-button, fieldset .form-submit, .sidebar .form-button, .sidebar .form-submit, table .form-button, table .form-submit {
  margin: 0;
}

div.admin-panel, div.admin-panel .description, div.admin-panel .body, div.admin, div.admin .left, div.admin .right, div.admin .expert-link, div.item-list, .menu {
  margin: 0;
  padding: 0;
}

div.admin h3 {
  margin-bottom: 0;
}

div.admin .left {
  float: left;
  width: 48%;
}

div.admin .right {
  float: right;
  width: 48%;
}

div.admin-panel {
  background: none;
  padding: 1em 1em 1.5em;
}

div.admin-panel .description {
  margin-bottom: 1.5em;
}

div.admin-panel dl {
  margin: 0;
}

div.admin-panel dd {
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-bottom: .65em;
  margin-top: -0.2em;
}

.messages {
  background-color: #ffffff;
  border: 1px solid #b8d3e5;
}

.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
}

.preview .node {
  background-color: #fcfce8;
}

span.form-required {
  color: #ffae00;
}

.description {
  color: #898989;
  font-size: 0.92em; line-height: 150%; margin-bottom: 0.75em;
}

.messages, .preview {
  margin: .75em 0;
  padding: .5em 1em;
}

.messages ul {
  margin: 0;
}

.box {
  margin-bottom: 2.5em;
}

.profile dd {
  margin-bottom: 1.6em;
}

.profile h3 {
  border-bottom: none;
}

div.status {
  border-color: #c7f2c8;
  color: #33a333;
}

div.error, tr.error {
  background-color: #ffcccc;
  color: #a30000;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #363636;
}

table.system-status-report th {
  border-color: #e6e2c8;
}

table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #ffcccc;
  border-color: #eebbbb; color: #220000;
}

table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffffdd;
  border-color: #eeeebb;
}

table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #ddffdd;
  border-color: #bbeebb;
}

/*
 * 10. UNDO CSS
 */

/* Purpose: undo some of the default styling of common (X)HTML browsers */

:link,:visited {
  text-decoration:none
}

ul,ol {
  list-style:none
}

a img,:link img,:visited img {
  border: none;
}

address {
  font-style:normal;
}

/*
 * 11. PAGE HEADER
 */

#wrapper { 
  margin: 0 auto; 
  position:relative;
  margin-left:auto;
  margin-right:auto;
}

#page-border-left {
  margin: 0 auto;
  padding: 0 0 0 14px;
  background-color: transparent;
  background-image: url(images/borders/border-left.png);
  background-repeat: repeat-y;
  background-position: left;
}

#page-border-right {
  margin: 0; 
  padding: 0 13px 0 0;
  background-color: transparent;
  background-image: url(images/borders/border-right.png);
  background-repeat: repeat-y;
  background-position: right;
}

#page-content {
  background-color: #ffffff;
  margin: none;
  padding: none;
  min-height: 560px;
}

#opera-second-page-content { /* Seems to be needed because opera doesn't see the first one */
  background-color: #ffffff;
  margin: none;
  padding: none;
}

#container {
  position: relative;
  background-color: #ffffff;
  z-index: 2;
}

#content {
  position: relative;
  background-color: #ffffff;
}

#bg-top {
  background-color: #796646;
  background-image: url(images/borders/border-top.png);
  background-repeat: repeat-x;
  background-position: top;
  height: 15px;
}

#page-top-border {
  background-color: #796646;
  height: 10px;
}

#bg-bottom {
  background-color: #d3caaa;
  background-image: url(images/borders/border-bottom.png); 
  background-repeat: repeat-x;
  background-position: bottom;
  height: 15px;
}

#bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #796646;
  background-image: url(images/borders/corner-top-left.png);
  background-repeat: no-repeat;
  background-position: top left;
  z-index: 6;
}

#bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: #796646;
  background-image: url(images/borders/corner-top-right.png);
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 6;
}

#bottom-left {
  width: 15px;
  height: 15px;
  background-color: #d3caaa;
  background-image: url(images/borders/corner-bottom-left.png);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 7; 
}

#bottom-right {
  width: 15px;
  height: 15px; 
  background-color: #d3caaa;
  background-image: url(images/borders/corner-bottom-right.png);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 7;
}

#nav-content {
  margin: -25px;
}

#header {  
 background-color: #ffffff;
 margin-right: 2px;
}

#header #logotext h1 {
  position: absolute;
  top: 53px;
  left: 50%;
  width: 440px;
  text-align: center;
  margin-left: -220px;
  color: #73360e;
  font-size: 1.8333em;
}

#header #slogantext {
  position: absolute;
  top: 75px;
  left: 50%;
  width: 440px;
  font-family: sans-serif;
  font-style: normal;
  font-variant: small-caps;
  font-weight: normal;
  font-size: small;
  line-height: 100%;
  word-spacing: normal;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  text-indent: 0ex;
  margin-left: -220px;
  color: #986601;
  z-index: 8;
}

#slogan { 
  display: block; 
  font-size: .7727em; 
}

#search-theme-form { 
  float: right; 
  margin: 2.5em 0 0; 
}

#search-theme-form .form-button, #search-theme-form .form-submit { 
  margin: 0; 
}

#topNav {
  background-color: transparent;
  padding-bottom: 5px;
}

#topNav {
  width: 100%;
  position: relative;
  height: 80px;
}

#topNav a {
  color: #656565;
  text-decoration: none;
  font-size: 110%;
  font-family: Tahoma, Sans, Arial, Helvetica, sans-serif;
  border-bottom: 1px dotted #fff;
}

#topNav li a:hover {
  border-bottom: 1px dotted #656565;
}

#topNav ul {
  display: block;
  margin: 0;
  padding: 0 0px .5em 0px;
  position: absolute;
  top: 20px;
  right: 0px;
  border-bottom: 1px solid #d6d6d6;
}

#topNav ul ul {
  padding-bottom: 0;
}

#topNav li {
  display: block;
  float: left;
  margin: 0 18px 0 0;
  text-indent: -5px;
  padding-bottom: 0;
  background-image: url(images/bullet-triangle.png);
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 1.7em;
  position: relative;
  z-index: 99;
}

#topNav li.last {
  margin: 0;
}

#topNav li ul {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #d3caaa;
  width: 12em;
  left: -999em;
  top: 1.5em;
  z-index: 9;
  font-size: 90%;
}

#topNav li:hover ul {
  left: 0;
  z-index: 10;
}

#topNav li ul li {
  background-image: none;
  text-indent: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

#topNav li ul li a {
  display: block;
  width: 100%;
  padding: .2em 0;
  text-indent: .2em;
}

#topNav li ul li a:hover,#topNav li ul li a:active {
  color: white;
  background-color: #d3caaa;
}

#topNav img {
  margin: 0;
  padding: 0;
  border-style: none;
}

#topNav img.rule {
  border-top: 1.7em solid white;
  /* ugly, ugly, but the line is too close to the tabs w/out it
     using ems means this lowers as the users font-size increases */
}

#ubuntulogo {
  position: absolute;
  top:20px;
  left:0px;
  padding-left: 14px; /* This is for Opera browsers... */
}

#searchbox {
  width: 50%;
  height: 25px;
  text-align: right;
  line-height: 60px;
  position: absolute;
  top: 6.80em;
  right: 9px;
}

#searchbox p {
  line-height: 1.1em;
  font-size: 120%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#searchbox label {
  display: none;
}

#searchbox button {
  border-style: none;
  background-color: #ffffff;
  background-image: url(images/icon-search.png);
  width: 34px;
  background-repeat: no-repeat;
  background-position: center;
}

#searchbox button span {
  display: block;
  text-indent: -100px;
  overflow: hidden;
}

#searchbox input {
  border: 1px solid #c6c6c6;
  color: #777;
  font-size: 70%;
  padding: 2px;
}

#masthead {
  clear: both;
  height: 95px;
  background-image: url(images/mastheadbg.png); 
  background-repeat: repeat-x;
  margin: 0 0 0 5px;
  padding: 0;
  position: relative;
  border-left: 204px solid #ffffff;
  border-right: 216px solid #ffffff;
  border-bottom: 10px solid #ffffff;
  z-index: 1;
}

#mastheadimage {
  position: absolute;
  top: -1px;
  left: -204px;
  z-index: 4;
}

#mastheadnotice {
  width: 216px;
  height: 95px;
  position: absolute;
  top: 0;
  right: -216px;
  z-index: 2;
  background-image: url(images/masthead-border-red.png);
  background-repeat: no-repeat;
  background-position: right top;
  overflow:hidden;
}

#mastheadnotice h2 {
  margin: 8px 8px 0 20px;
  padding: 0;
  color: #ffc547;
  font-size: 140%;
}

#mastheadnotice p {
  margin: 6px 8px 8px 20px;
  margin-top: -1.4em; /* added for ubuntulive */
  padding: 0;
  color: white;
  font-size: 110%;
  font-weight: bold;
  position: absolute;
  height: 50%;
  top: 25%;
}

#mastheadnotice a {
  color: white;
  font-weight: bold;
  font-size: 150%;
  text-decoration: none;
}

#mastheadcenter {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

#mastheadcenter h1 {
  margin: 0;
  padding: 0 .4em;
  font-size: 180%;
  color: #c00;
}

#mastheadcenter p {
  font-size: 80%;
  margin: 0;
  padding: 0 .6em;
  line-height: 1.4em;
}

#masthead.homepage {
  height: 173px;
  background-image: url(images/mastheadbg-home.png); 
  max-width: 800px;
}

#masthead.homepage #mastheadnotice {
  background-image: url(images/png/masthead-border-transparentwm-ho.png);
  height: 170px;
  right: -210px !important;
  background-color: #d3caaa;
}

#masthead.homepage #mastheadnotice p {
  font-size: 110%;
  position: relative;
  margin-bottom: 1em;
  line-height: normal;
  margin-bottom: auto;
}

#masthead.homepage #mastheadnotice h2 {
  margin-top: 1.5em;
}

#masthead.homepage img {
  background-color: #d3caaa;
}

#masthead.homepage #mastheadcenter h1 {
  float: none;
  padding-bottom: 5px;
  /*color: #ffc547;*/
}

#masthead.homepage #mastheadcenter p {
  margin-left: .4em;
  line-height: 160%;
  font-size: 90%;
}

#mastheadnotice span {
  display: block;
  font-size: 70%;
}

#masthead.community_header #mastheadnotice {
  background-image: url(images/masthead-border-redwm.png);
}

#masthead.community_header #mastheadnotice p {
  margin-top: -1.4em;
}

#masthead.community_header #mastheadnotice a {
  color: white;
  font-weight: bold;
  font-size: 150%;
  text-decoration: none;
}

#masthead.community_header #mastheadnotice span {
  display: block;
  font-size: 110%;
}

#masthead.community_header #mastheadimage {
  top: 0;
}

#masthead.community_header #mastheadcenter h1 {
  padding-bottom: 2px;
}
